@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Pacifico', cursive;
}
h2{
	text-align: right;
}
h3{
	text-transform: capitalize;
}
p{
	text-align: justify;
	text-indent: 24px;
	line-height: 24px;
	word-spacing: 5px;
}
.oldmap{
	width: 250px;
    float: right;
    margin-left: 20px;
}
.map{
	height: 320px;
    
}
.emp{
	float: right;
	border: solid 2px grey;
}
.emp figcaption{
	background-color: lightgrey;
	color:blue;
	text-align: center;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration-line: underline;
}
a:visited{
	color: pink;
}
