@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
body{
	background: linear-gradient(to left, blue,fuchsia);
}
p{
	font-size: 50px;
	background-color: orangered;
	color:aqua  ;
	text-align: center;
	font-family:  'Comfortaa', cursive;
}
p.ex0{
	font-size: 50px;
	background-color: orangered;
	color:aqua  ;
	text-align: center;
	font-family:  'Comfortaa', cursive;
}
.btn1{
	font-size: 24px;
	font-family: monospace;
	background-color:WHITE;
	color: orangered;
	border: double 10px orangered;
}
.btn1:hover{
	background-color:aqua ;
	color:#b778ff;
	border:orangered  10px #b778ff;
	box-shadow: 5px -5px WHITE ;
}
.btn2{
	font-size: 24px;
	font-family: monospace;
	background-color:yellow;
	color: NAVY;
	border: double 10px NAVY;
}
.btn2:hover{
	background-color:aqua ;
	color:#800080;
	border:orangered  10px #800080;
	box-shadow: 5px -5px #800080 ;
}
/* CSS */
.button-85 {
	font-size: 18px;
	font-weight: 600px;
	text-transform: uppercase;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0,255,255);
  background: #696969;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #696969;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.myButton {
	box-shadow:inset 1px 50px 21px -49px #dcecfb;
	background:linear-gradient(to bottom, #1f8fff 5%, #eeff00 100%);
	background-color:#1f8fff;
	border-radius:42px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#fff7ff;
	font-family:Times New Roman;
	font-size:16px;
	font-weight:bold;
	padding:32px 16px;
	text-decoration:none;
	text-shadow:-4px 0px 0px #004f9e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #eeff00 5%, #1f8fff 100%);
	background-color:#eeff00;
}
.myButton:active {
	position:relative;
	top:1px;
}
.k3{
	box-shadow:inset 0px 0px 50px 50px #c7fdff;
	background:linear-gradient(to bottom, #000000 5%, #bc80ea 100%);
	background-color:#000000;
	border-radius:27px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ebc0fc;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:22px 32px;
	text-decoration:none;
	text-shadow:-4px -1px 3px #9752cc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #000000 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
.k4{
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:3px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:19px 24px;
	text-decoration:none;
	text-shadow:-2px 0px 0px #734e12;
}
.k4:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.k4:active {
	position:relative;
	top:1px;
}
.k5{
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #eff9fc 5%, #019ad2 100%);
	background-color:#eff9fc;
	border-radius:42px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:15px;
	font-weight:bold;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.k5:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #eff9fc 100%);
	background-color:#019ad2;
}
.k5:active {
	position:relative;
	top:1px;
}
.k6 {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:42px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 49px;
	text-decoration:none;
	text-shadow:-5px -1px 0px #c70067;
}
.k6:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.k6:active {
	position:relative;
	top:1px;
}
.k7{
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:3px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#140300;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:32px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.k7:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.k7:active {
	position:relative;
	top:1px;
}
.k8 {
	box-shadow:inset -1px 35px 37px -6px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:42px;
	border:4px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:27px 55px;
	text-decoration:none;
	text-shadow:0px -3px 8px #b23e35;
}
.k8:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.k8:active {
	position:relative;
	top:1px;
}
.k9 {
	box-shadow:inset 0px 20px 0px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:11px;
	border:2px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#c0e332;
	font-family:Impact;
	font-size:21px;
	font-weight:bold;
	padding:10px 21px;
	text-decoration:none;
	text-shadow:5px 1px 2px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.ex1{
	font-size: 24px;
	color: blue;
	border: dotted 10px orangered;
	display: inline-block;
	margin-left:40px ;
 }
span{
	border: dashed 5px pink;
	display: block;
}
li{
	list-style-type: none;
	border: ridge 5px lime;
	display: inline-block;
	color: laim;
	font-size: 24px;
	background: yellow;
}
a{
	text-decoration: nane;
}
a:active{
	color:white ;
}
a:hover{
	color: #eeff00;
}
#b1{
	width: 500px;
	height: 500px;
	background-color: yellow;
	border: groove 20px blue ;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#b2{
	margin: 50px;
	width: 700px;
	height: 700px;
	background-color: pink;
	border: outset 20px;
	padding: 50px;
}
#b3,#b4{
	width: 900px;
	height: 200px;
	background-color: gold;
	margin: 75px;
}
#b3{
	border-color: red orange green purple;
	border-width: 20px;
	border-style: solid;
}
#b4{
	border-color: blue lime aqua #800080;
	border-width: 20px;
	border-style: dotted dashed;
}
#b5{
width: 500px;
height: 500px;
background-color: aqua;
border:groove 24px red;
}
#b6{
	width: 350px;
height: 350px;
background-color: blue;
border:groove 24px green;
font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#b7{
	width: 150px;
height: 150px;
background-color: yellow;
border:groove 24px orange;
font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}